{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ГОРОДСКОЙ ТАНЦЕВАЛЬНЫЙ ЦЕНТР</title>
    <script
            src="https://kit.fontawesome.com/0ee0d97279.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'style/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/news.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href=""/>
</head>
<body>

{% include 'header.html' %}

<div class="bg">
    {% include 'menu.html' %}
</div>

<div class="info">
    <h2 class="info-title">Удаленная работа учреждения на период с 12 по 31 мая 2020 года.</h2>
</div>

<div class="news">
    <article class="news__block">
        <h3 class="news__block-title">Хромченко Лариса Ивановна</h3>
        <p class="news__block-text">Индивидуальные тренировки по индивидуальному графику.</p>
    </article>
</div>
<div class="news">
    <article class="news__block">
        <h3 class="news__block-title">Хромченко Юрий Рафаилович</h3>
        <p class="news__block-text">Комплексы для группы № 3 (Дети, ПН и ПТ с 16.30 до 18.00)</p>
    </article>
</div>
<div class="news">
    <article class="news__block">
        <p class="news__block-title-top">Задание на 12.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Упражнение для танца медленный вальс под музыку</p>
        <p class="news__block-text"> Медленный вальс правый квадрат шаги</p>
        <p class="news__block-text">Правый квадрат медленного вальса под музыку</p>

        <p class="news__block-title-top">Задание на 13.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Медленный вальс 1 соединение</p>
        <p class="news__block-text">Медленный вальс соединение фигур без остановок</p>
        <p class="news__block-text">Медленный вальс соединение 3 фигур под музыку</p>

        <p class="news__block-title-top">Задание на 14.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Подготовка к танцу ча-ча-ча</p>
        <p class="news__block-text">Подготовка к танцу ча-ча-ча под музыку</p>
        <p class="news__block-text">Ча-ча-ча подготовительное движение</p>
        <p class="news__block-text">Ча-ча-ча подготовительное движение под музыку</p>

        <p class="news__block-title-top">Задание на 15.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Ча-ча-ча тайм-степ</p>
        <p class="news__block-text">Ча-ча-ча тайм-степ под музыку</p>
        <p class="news__block-text">Ча-ча-ча ход назад</p>
        <p class="news__block-text">Ча-ча-ча ход назад под музыку</p>

        <p class="news__block-title-top">Задание на 18.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Ча-ча-ча соединение 2 движений</p>
        <p class="news__block-text">Ча-ча-ча соединение 2 движений под музыку</p>
        <p class="news__block-text"> Ча-ча-ча соединение 2 движений</p>
        <p class="news__block-text">Ча-ча-ча соединение 2 движений под музыку</p>

        <p class="news__block-title-top">Задание на 26.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Самба баунс (пружинка)</p>
        <p class="news__block-text">Самба пружинка по 4 раза на каждую из ног</p>
        <p class="news__block-text"> Самба баунс под музыку</p>

        <p class="news__block-title-top">Задание на 19.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Самба подготовка к левому повороту</p>
        <p class="news__block-text"> Самба подготовка к левому повороту под музыку</p>

        <p class="news__block-title-top">Задание на 20.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Самба левый квадрат</p>
        <p class="news__block-text">Самба левый квадрат под музыку</p>
        <p class="news__block-text">Самба виск в сторону</p>
        <p class="news__block-text">Самба виск в сторону под музыку</p>

        <p class="news__block-title-top">Задание на 21.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Самба подготовка к движению ботофога</p>
        <p class="news__block-text"> Самба подготовка к движению ботофога под музыку</p>
        <p class="news__block-text"> Самба стационарный самба ход</p>
        <p class="news__block-text"> Самба стационарный самба ход под музыку</p>

        <p class="news__block-title-top">Задание на 22.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Самба 4 фигуры вместе</p>
        <p class="news__block-text"> Самба 4 фигуры под музыку</p>

        <p class="news__block-title-top">Задание на 25.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Квик-степ соединение 3 фигур</p>
        <p class="news__block-text"> Квик-степ соединение фигур под музыку</p>
        <p class="news__block-text"> Квик-степ соединение на 4 стороны под музыку</p>

        <p class="news__block-title-top">Задание на 26.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text"> 1 упражнение джайва</p>

        <p class="news__block-title-top">Задание на 27.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">2 упражнение для джайва. Подготовка к шоссе</p>

        <p class="news__block-title-top">Задание на 28.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text"> 3 упражнение для джайва</p>

        <p class="news__block-title-top">Задание на 29.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text"> Джайв соединение для старших</p>
    </article>
</div>

<div class="news">
    <article class="news__block">
        <h3 class="news__block-title">Хромченко Юрий Рафаилович</h3>
        <p class="news__block-text">Комплексы для группы № 4 (Дети, ПН и ПТ с 18.00 до 19.00)</p>
    </article>
</div>

<div class="news">
    <article class="news__block">
        <p class="news__block-title-top">Задание на 12.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Упражнение на стопы</p>
        <p class="news__block-text">2 упражнение на стопы</p>
        <p class="news__block-text">Упражнение на подъемы</p>

        <p class="news__block-title-top">Задание на 13.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Упражнение для рук</p>

        <p class="news__block-title-top">Задание на 14.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Берлинская полька</p>
        <p class="news__block-text"> Берлинская полька танец под музыку</p>

        <p class="news__block-title-top">Задание на 15.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Упражнение для медленного вальса</p>
        <p class="news__block-text">Медленный вальс правый квадрат шаги</p>

        <p class="news__block-title-top">Задание на 18.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Упражнение для танца медленный вальс под музыку</p>
        <p class="news__block-text">Медленный вальс правый квадрат шаги</p>
        <p class="news__block-text">Правый квадрат медленного вальса под музыку</p>

        <p class="news__block-title-top">Задание на 19.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Медленный вальс. 2 маленьких квадрата и восьмерочка</p>

        <p class="news__block-title-top">Задание на 20.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Подготовка к танцу ча-ча-ча</p>
        <p class="news__block-text">Подготовка к танцу ча-ча-ча под музыку</p>
        <p class="news__block-text">Ча-ча-ча подготовительное движение</p>
        <p class="news__block-text">Ча-ча-ча подготовительное движение под музыку</p>

        <p class="news__block-title-top">Задание на 21.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Ча-ча-ча тайм-степ</p>
        <p class="news__block-text">Ча-ча-ча тайм-степ под музыку</p>
        <p class="news__block-text">Ча-ча-ча ход назад</p>
        <p class="news__block-text">Ча-ча-ча ход назад под музыку</p>

        <p class="news__block-title-top">Задание на 22.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Ча-ча-ча соединение 2 движений</p>
        <p class="news__block-text">Ча-ча-ча соединение 2 движений под музыку</p>

        <p class="news__block-title-top">Задание на 25.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Самба баунс (пружинка)</p>
        <p class="news__block-text">Самба пружинка по 4 раза на каждую из ног</p>

        <p class="news__block-title-top">Задание на 26.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Самба баунс под музыку</p>

        <p class="news__block-title-top">Задание на 27.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Самба подготовка к левому повороту</p>

        <p class="news__block-title-top">Задание на 28.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Самба подготовка к левому повороту под музыку</p>

        <p class="news__block-title-top">Задание на 29.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52">Разминка</a></p>
        <p class="news__block-text">Берлинская полька</p>
        <p class="news__block-text">Берлинская полька танец под музыку</p>
        <p class="news__block-text">Упражнение для медленного вальса</p>
        <p class="news__block-text">Медленный вальс правый квадрат шаги</p>
        <p class="news__block-text">Упражнение для танца медленный вальс под музыку</p>
        <p class="news__block-text">Медленный вальс правый квадрат шаги</p>
        <p class="news__block-text">Правый квадрат медленного вальса под музыку</p>
        <p class="news__block-text">Медленный вальс. 2 маленьких квадрата и восьмерочка</p>
        <p class="news__block-text">Подготовка к танцу ча-ча-ча</p>
        <p class="news__block-text">Подготовка к танцу ча-ча-ча под музыку</p>
        <p class="news__block-text">Ча-ча-ча подготовительное движение</p>
        <p class="news__block-text">Ча-ча-ча подготовительное движение под музыку</p>
        <p class="news__block-text">Ча-ча-ча тайм-степ</p>
        <p class="news__block-text">Ча-ча-ча тайм-степ под музыку</p>
        <p class="news__block-text">Ча-ча-ча ход назад</p>
        <p class="news__block-text">Ча-ча-ча ход назад под музыку</p>
        <p class="news__block-text">Ча-ча-ча соединение 2 движений</p>
        <p class="news__block-text">Ча-ча-ча соединение 2 движений под музыку</p>
        <p class="news__block-text">Самба баунс (пружинка)</p>
        <p class="news__block-text">Самба пружинка по 4 раза на каждую из ног</p>
        <p class="news__block-text">Самба баунс под музыку</p>
        <p class="news__block-text">Самба подготовка к левому повороту</p>
        <p class="news__block-text">Самба подготовка к левому повороту под музыку</p>
    </article>
</div>

<div class="news">
    <article class="news__block">
        <h3 class="news__block-title">Трифонов Ростислав Олегович</h3>
        <p class="news__block-text">Комплексы по ОФП для всех групп</p>
    </article>
</div>

{% include 'footer.html' %}
{#    #}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>
<script>
    jQuery(function ($) {
        $.get("{THEME}/images/sprite.svg", function (data) {
            var div = document.createElement("div");
            div.innerHTML = new XMLSerializer().serializeToString(data.documentElement);
            document.body.insertBefore(div, document.body.childNodes[0]);
        });
    });
</script>
<script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
{#    #}
</body>
</html>
