{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ГОРОДСКОЙ ТАНЦЕВАЛЬНЫЙ ЦЕНТР</title>
    <script
            src="https://kit.fontawesome.com/0ee0d97279.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'style/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/news.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href=""/>
</head>
<body>

{% include 'header.html' %}

<div class="bg">
    {% include 'menu.html' %}
</div>

<div class="info">
    <h2 class="info-title">Удаленная работа учреждения на период с 12 по 31 мая 2020 года.</h2>
</div>

<div class="news">
    <article class="news__block">
        <h3 class="news__block-title">Хромченко Лариса Ивановна</h3>
        <p class="news__block-text">Индивидуальные тренировки по индивидуальному графику.</p>
    </article>
</div>
<div class="news">
    <article class="news__block">
        <h3 class="news__block-title">Хромченко Юрий Рафаилович</h3>
        <p class="news__block-text">Комплексы для группы № 3 (Дети, ПН и ПТ с 16.30 до 18.00)</p>
    </article>
</div>
<div class="news">
    <article class="news__block">
        <p class="news__block-title-top">Задание на 12.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=KI7rDmIcM54&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=41" target="_blank">Упражнение для танца медленный вальс под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=BOrhbJ0x2UI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=44" target="_blank">Медленный вальс правый квадрат шаги</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=OGhpZdJoNhQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=43" target="_blank">Правый квадрат медленного вальса под музыку</a></p>

        <p class="news__block-title-top">Задание на 13.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=Q6fmbr4bw0Q&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=34" target="_blank">Медленный вальс 1 соединение</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=HcaKtAnKLUE&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=35" target="_blank">Медленный вальс соединение фигур без остановок</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=tv-i1owkp0k&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=7" target="_blank">Медленный вальс соединение 3 фигур под музыку</a></p>

        <p class="news__block-title-top">Задание на 14.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=tzmvQ1lTwj0&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=38&t=0s" target="_blank">Подготовка к танцу ча-ча-ча</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=COXuDyM_77w&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=37&t=0s" target="_blank">Подготовка к танцу ча-ча-ча под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=9VGBFO59k6I&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=24&t=0s" target="_blank">Ча-ча-ча подготовительное движение</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=ju9J9q6e3D4&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=25&t=0s" target="_blank">Ча-ча-ча подготовительное движение под музыку</a></p>

        <p class="news__block-title-top">Задание на 15.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=ACofSGIFrnQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=22&t=0s" target="_blank">Ча-ча-ча тайм-степ</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=dGHtfJ0xxTM&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=23&t=0s" target="_blank">Ча-ча-ча тайм-степ под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=LsPBuZW5sXI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=26&t=0s" target="_blank">Ча-ча-ча ход назад</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=S5IfnJ0yITs&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=27&t=0s" target="_blank">Ча-ча-ча ход назад под музыку</a></p>

        <p class="news__block-title-top">Задание на 18.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=J46kPYeJ6hs&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=28&t=0s" target="_blank">Ча-ча-ча соединение 2 движений</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=DoFMnmw7W8c&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=29&t=0s" target="_blank">Ча-ча-ча соединение 2 движений под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=J46kPYeJ6hs&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=28&t=0s" target="_blank">Ча-ча-ча соединение 2 движений</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=DoFMnmw7W8c&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=29&t=0s" target="_blank">Ча-ча-ча соединение 2 движений под музыку</a></p>

        <p class="news__block-title-top">Задание на 26.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=yksdqsn8E7U&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=30&t=0s" target="_blank">Самба баунс (пружинка)</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=moKMwx9M0PI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=31&t=0s" target="_blank">Самба пружинка по 4 раза на каждую из ног</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=-d80C5tB5TE&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=32&t=0s" target="_blank">Самба баунс под музыку</a></p>

        <p class="news__block-title-top">Задание на 19.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=f8gB1sZb-xg&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=33&t=0s" target="_blank">Самба подготовка к левому повороту</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=eyMEGj-vP_U&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=34&t=0s" target="_blank">Самба подготовка к левому повороту под музыку</a></p>

        <p class="news__block-title-top">Задание на 20.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=MQvl2GUMUc4&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=13" target="_blank">Самба левый квадрат</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=iOaYl_h5O5A&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=18" target="_blank">Самба левый квадрат под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=2wGnqozMblk&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=10" target="_blank">Самба виск в сторону</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=1gD2rEAtJWs&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=15" target="_blank">Самба виск в сторону под музыку</a></p>

        <p class="news__block-title-top">Задание на 21.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=aXqwuFc7j1U&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=11" target="_blank">Самба подготовка к движению ботофога</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=WJFioarzSpw&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=16" target="_blank">Самба подготовка к движению ботофога под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=6RE5buJxsmg&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=12" target="_blank">Самба стационарный самба ход</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=_z7de8jSRPs&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=17" target="_blank">Самба стационарный самба ход под музыку</a></p>

        <p class="news__block-title-top">Задание на 22.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=6EcqWVe_Jgk&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=14" target="_blank">Самба 4 фигуры вместе</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=nq1aRxgZk8c&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=19" target="_blank">Самба 4 фигуры под музыку</a></p>

        <p class="news__block-title-top">Задание на 25.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=vmDm3B40OkY&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=7" target="_blank">Квик-степ соединение 3 фигур</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=mS6hcgOnL_k&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=8" target="_blank">Квик-степ соединение фигур под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=x2gUU7ov2xI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=9" target="_blank">Квик-степ соединение на 4 стороны под музыку</a></p>

        <p class="news__block-title-top">Задание на 26.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=g0TpRylvKYc&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=1" target="_blank">1 упражнение джайва</a></p>

        <p class="news__block-title-top">Задание на 27.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=SlnUG27diRc&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=2" target="_blank">2 упражнение для джайва. Подготовка к шоссе</a></p>

        <p class="news__block-title-top">Задание на 28.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=HJT7ghGQQoc&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=3" target="_blank">3 упражнение для джайва</a></p>

        <p class="news__block-title-top">Задание на 29.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=WpcON1ste9w&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=5" target="_blank">Джайв соединение для старших</a></p>
    </article>
</div>

<div class="news">
    <article class="news__block">
        <h3 class="news__block-title">Хромченко Юрий Рафаилович</h3>
        <p class="news__block-text">Комплексы для группы № 4 (Дети, ПН и ПТ с 18.00 до 19.00)</p>
    </article>
</div>

<div class="news">
    <article class="news__block">
        <p class="news__block-title-top">Задание на 12.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=WMFomshSpAM&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=50&t=0s" target="_blank">Упражнение на стопы</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=BxW380jkRFs&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=49&t=0s" target="_blank">2 упражнение на стопы</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=VvPXlWdCQw4&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=48&t=0s" target="_blank">Упражнение на подъемы</a></p>

        <p class="news__block-title-top">Задание на 13.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=w1cqeJkzjEg&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=47&t=0s" target="_blank">Упражнение для рук</a></p>

        <p class="news__block-title-top">Задание на 14.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=QBiTtbc9IzE&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=46&t=0s" target="_blank">Берлинская полька</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=JFm4gcW4Ags&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=45&t=0s" target="_blank">Берлинская полька танец под музыку</a></p>

        <p class="news__block-title-top">Задание на 15.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=UNYF5s3-dOI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=41&t=0s" target="_blank">Упражнение для медленного вальса</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=BOrhbJ0x2UI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=43&t=0s" target="_blank">Медленный вальс правый квадрат шаги</a></p>

        <p class="news__block-title-top">Задание на 18.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=KI7rDmIcM54&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=40&t=0s" target="_blank">Упражнение для танца медленный вальс под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=BOrhbJ0x2UI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=43&t=0s" target="_blank">Медленный вальс правый квадрат шаги</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=OGhpZdJoNhQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=42&t=0s" target="_blank">Правый квадрат медленного вальса под музыку</a></p>

        <p class="news__block-title-top">Задание на 19.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=ctq_CpT8rrA&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=39&t=0s" target="_blank">Медленный вальс. 2 маленьких квадрата и восьмерочка</a></p>

        <p class="news__block-title-top">Задание на 20.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=tzmvQ1lTwj0&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=38&t=0s" target="_blank">Подготовка к танцу ча-ча-ча</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=COXuDyM_77w&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=37&t=0s" target="_blank">Подготовка к танцу ча-ча-ча под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=9VGBFO59k6I&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=24&t=0s" target="_blank">Ча-ча-ча подготовительное движение</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=ju9J9q6e3D4&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=25&t=0s" target="_blank">Ча-ча-ча подготовительное движение под музыку</a></p>

        <p class="news__block-title-top">Задание на 21.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=ACofSGIFrnQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=22&t=0s" target="_blank">Ча-ча-ча тайм-степ</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=dGHtfJ0xxTM&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=23&t=0s" target="_blank">Ча-ча-ча тайм-степ под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=LsPBuZW5sXI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=26&t=0s" target="_blank">Ча-ча-ча ход назад</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=S5IfnJ0yITs&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=27&t=0s" target="_blank">Ча-ча-ча ход назад под музыку</a></p>

        <p class="news__block-title-top">Задание на 22.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=J46kPYeJ6hs&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=28&t=0s" target="_blank">Ча-ча-ча соединение 2 движений</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=DoFMnmw7W8c&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=29&t=0s" target="_blank">Ча-ча-ча соединение 2 движений под музыку</a></p>

        <p class="news__block-title-top">Задание на 25.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=yksdqsn8E7U&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=30&t=0s" target="_blank">Самба баунс (пружинка)</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=moKMwx9M0PI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=31&t=0s" target="_blank">Самба пружинка по 4 раза на каждую из ног</a></p>

        <p class="news__block-title-top">Задание на 26.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=-d80C5tB5TE&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=32&t=0s" target="_blank">Самба баунс под музыку</a></p>

        <p class="news__block-title-top">Задание на 27.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=f8gB1sZb-xg&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=33&t=0s" target="_blank">Самба подготовка к левому повороту</a></p>

        <p class="news__block-title-top">Задание на 28.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=eyMEGj-vP_U&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=34&t=0s" target="_blank">Самба подготовка к левому повороту под музыку</a></p>

        <p class="news__block-title-top">Задание на 29.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=cyPTCOdNwvQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=52" target="_blank">Разминка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=QBiTtbc9IzE&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=46&t=0s" target="_blank">Берлинская полька</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=JFm4gcW4Ags&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=45&t=0s" target="_blank">Берлинская полька танец под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=UNYF5s3-dOI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=41&t=0s" target="_blank">Упражнение для медленного вальса</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=BOrhbJ0x2UI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=43&t=0s" target="_blank">Медленный вальс правый квадрат шаги</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=KI7rDmIcM54&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=40&t=0s" target="_blank">Упражнение для танца медленный вальс под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=BOrhbJ0x2UI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=43&t=0s" target="_blank">Медленный вальс правый квадрат шаги</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=OGhpZdJoNhQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=42&t=0s" target="_blank">Правый квадрат медленного вальса под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=ctq_CpT8rrA&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=39&t=0s" target="_blank">Медленный вальс. 2 маленьких квадрата и восьмерочка</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=tzmvQ1lTwj0&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=38&t=0s" target="_blank">Подготовка к танцу ча-ча-ча</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=COXuDyM_77w&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=37&t=0s" target="_blank">Подготовка к танцу ча-ча-ча под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=9VGBFO59k6I&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=24&t=0s" target="_blank">Ча-ча-ча подготовительное движение</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=ju9J9q6e3D4&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=25&t=0s" target="_blank">Ча-ча-ча подготовительное движение под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=ACofSGIFrnQ&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=22&t=0s" target="_blank">Ча-ча-ча тайм-степ</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=dGHtfJ0xxTM&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=23&t=0s" target="_blank">Ча-ча-ча тайм-степ под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=LsPBuZW5sXI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=26&t=0s" target="_blank">Ча-ча-ча ход назад</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=S5IfnJ0yITs&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=27&t=0s" target="_blank">Ча-ча-ча ход назад под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=J46kPYeJ6hs&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=28&t=0s" target="_blank">Ча-ча-ча соединение 2 движений</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=DoFMnmw7W8c&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=29&t=0s" target="_blank">Ча-ча-ча соединение 2 движений под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=yksdqsn8E7U&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=30&t=0s" target="_blank">Самба баунс (пружинка)</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=moKMwx9M0PI&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=31&t=0s" target="_blank">Самба пружинка по 4 раза на каждую из ног</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=-d80C5tB5TE&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=32&t=0s" target="_blank">Самба баунс под музыку</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=f8gB1sZb-xg&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=33&t=0s" target="_blank">Самба подготовка к левому повороту</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=eyMEGj-vP_U&list=PLvMVJLDRDoSLpSIe_yXKuiviM43tnLZv4&index=34&t=0s" target="_blank">Самба подготовка к левому повороту под музыку</a></p>
    </article>
</div>

<div class="news">
    <article class="news__block">
        <h3 class="news__block-title">Степовая Анна Игоревна</h3>
        <p class="news__block-text">1.Комплексы для группы № 7 (Взрослые, ВТ и ЧТ с 19.00 до 20.00)</p>
    </article>
</div>

<div class="news">
    <article class="news__block">
        <p class="news__block-title-top">Задание на 12.05.2020г.</p>
        <p class="news__block-text"> <a href="https://www.youtube.com/watch?v=chS7OwEN9xQ">Ча-ча-ча 1 вариант разминки</a> </p>
        <p class="news__block-title-top">Задание на 13.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=pbWA3CzP-u0">Ча-ча-ча 2 вариант разминки</a></p>
        <p class="news__block-title-top">Задание на 14.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=oriHpt7rGNQ">Ча-ча-ча тайм-степ</a></p>
        <p class="news__block-title-top">Задание на 15.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=Jlv-w5tURHg">Ча-ча-ча шаг назад</a></p>
        <p class="news__block-title-top">Задание на 18.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=0LL0MMQ080U">Ча-ча-ча нью-йорк</a></p>
        <p class="news__block-title-top">Задание на 19.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=-48XNRF0za8">Ча-ча-ча спот-поворот</a></p>
        <p class="news__block-title-top">Задание на 20.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=_IpCbd9hngU">Ча-ча-ча 3-чача</a></p>
        <p class="news__block-title-top">Задание на 21.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=L_ltfL0kw_c">Джайв 1 упражнение</a></p>
        <p class="news__block-title-top">Задание на 22.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=nn02wAvxpWw">Джайв 2 упражнение</a></p>
        <p class="news__block-title-top">Задание на 25.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=UeaksNpIZf8">Джайв 3 упражнение</a></p>
        <p class="news__block-title-top">Задание на 26.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=vG_EbO3HGiU">Джайв 4 упражнение</a></p>
        <p class="news__block-title-top">Задание на 27.05.2020г. </p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=vOXg0L166Bk">Джайв 2 упражнение под музыку</a></p>
        <p class="news__block-title-top">Задание на 28.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=XqvRkFeW6Dw">Джайв 3 упражнение под музыку</a></p>
        <p class="news__block-title-top">Задание на 29.05.2020г.</p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=oriHpt7rGNQ">Ча-ча-ча тайм-степ</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=Jlv-w5tURHg">Ча-ча-ча шаг назад</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=0LL0MMQ080U">Ча-ча-ча нью-йорк</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=-48XNRF0za8">Ча-ча-ча спот-поворот</a></p>
        <p class="news__block-text"><a href="https://www.youtube.com/watch?v=_IpCbd9hngU">Ча-ча-ча 3-чача</a></p>
    </article>
</div>


<div class="news">
    <article class="news__block">
        <p class="news__block-title-top"></p>
        <p class="news__block-text"></p>
    </article>
</div>
{% include 'footer.html' %}
{#    #}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>
<script>
    jQuery(function ($) {
        $.get("{THEME}/images/sprite.svg", function (data) {
            var div = document.createElement("div");
            div.innerHTML = new XMLSerializer().serializeToString(data.documentElement);
            document.body.insertBefore(div, document.body.childNodes[0]);
        });
    });
</script>
<script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
{#    #}
</body>
</html>
