{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ГОРОДСКОЙ ТАНЦЕВАЛЬНЫЙ ЦЕНТР</title>
    <script
            src="https://kit.fontawesome.com/0ee0d97279.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'style/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/news.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href=""/>
</head>
<body>

{% include 'header.html' %}

<div class="bg">
    {% include 'menu.html' %}
</div>

<div class="info">
    <h2 class="info-title">ДОСТИЖЕНИЯ ПО ГОДАМ</h2>
</div>
<div class="news">
    <article class="news__block">
        <h3 class="news__block-title">Хромченко Лариса Ивановна</h3>
        <p class="news__block-text">Заслуженный работник культуры, тренер высшей категории</p>
        <img src="{% static 'img/khromchenko.jpg' %}" alt="Хромченко Лариса Ивановна">
    </article>
</div>
<div class="filter-nav">
    {% for var in vars %}
        <button id="{{ var }}" onclick="listener({{ var }})">{{ var }}</button>
    {% endfor %}
</div>

<div class="content" id="content">

</div>
{% include 'footer.html' %}
{#    #}
<script src="{% static 'js/jquery.js' %}"></script>
<script>
    function listener(param) {
        let string = '';
        {% for sportpost in sportpost_list %}
            if ({{ sportpost.year_publish }} == param){
            string += '<div class="news">';
            string += '<article class="news__block">';
            string += '<h3 class="news__block-title">' + "{{ sportpost.title }}" + '</h3>' + '<p class="news__block-text">' + "{{ sportpost.body | safe }}" + '</p>';
            string += '</article> </div>';
        }
        {% endfor %}
        document.getElementById("content").innerHTML = string;
    }
</script>
<script src="{% static 'js/menu.js' %}"></script>
<script>
    jQuery(function ($) {
        $.get("{THEME}/images/sprite.svg", function (data) {
            var div = document.createElement("div");
            div.innerHTML = new XMLSerializer().serializeToString(data.documentElement);
            document.body.insertBefore(div, document.body.childNodes[0]);
        });
    });
</script>
<script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
{#    #}
</body>
</html>
